<script src="@Url.Content("~/js/delivery.js")"></script>
<link href="@Url.Content("~/css/delivery.css")" type="text/css" rel="stylesheet" />
<div id="contents">
    <div id="listSearch">
        <table align="center" style=" border-color:#000;">
            <tr>
                <td colspan="4" style="height: 30px; background-color: #5976D4; text-align: center; font-size: 1.2em; color: white;">
                    @RazorApi.Instance().DisplayView(ViewBag, "SearchOrderTitle")
                </td>
            </tr>
            <tr>
                <td style="width:15%">@RazorApi.Instance().DisplayView(ViewBag, "SearchComp")</td>
                <td style="width:35%;text-align:left;"><input style="width:100px;" /> ~ <input style="width:100px;" /></td>
                <td style="width:15%">@RazorApi.Instance().DisplayView(ViewBag, "SearchOrderDate")</td>
                <td style="width: 35%; text-align: left;"><input style="width:100px;" /> ~ <input style="width:100px;" /></td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="button" class="btn" style="width:95%;height:20px;" value="@RazorApi.Instance().DisplayView(ViewBag, "SearchBtn")" />
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div id="list" class="list">
        <table align="center" style="border-color:#000;">
            <thead>
                <tr style="height:30px;" class="nList">
                    <th style="width: 20px; text-align: center;">No</th>
                    <th style="width: 400px; text-align: center;">@RazorApi.Instance().DisplayView(ViewBag, "SearchComp")</th>
                    <th style="width: 120px; text-align: center;">@RazorApi.Instance().DisplayView(ViewBag, "SearchOrderDate")</th>
                    <th style="width: 120px; text-align: center;">@RazorApi.Instance().DisplayView(ViewBag, "SearchBillMoney")</th>
                    <th style="width: 120px; text-align: center;">@RazorApi.Instance().DisplayView(ViewBag, "SearchCreateDate")</th>
                    <th style="width: 120px; text-align: center;">@RazorApi.Instance().DisplayView(ViewBag, "SearchCreater")</th>
                    <th style="width: 120px; text-align: center;">@RazorApi.Instance().DisplayView(ViewBag, "SearchView")</th>
                </tr>
            </thead>
            <tbody id="listData">
                @foreach (var pBuffer in ViewBag.list)
                {
                    <tr class="mList">
                        <td>@pBuffer.idx</td>
                        <td>@pBuffer.ordercompany</td>
                        <td>@pBuffer.billdateString</td>
                        <td>@pBuffer.billtotal.ToString("###,##0")</td>
                        <td>@pBuffer.creater</td>
                        <td>@pBuffer.createdateString</td>
                        <td><input type="button" class="btn" style="width:95%;height:20px;" value="@RazorApi.Instance().DisplayView(ViewBag, "SearchView")" onclick="BillView('@pBuffer.idx')" /></td>
                    </tr>
                    <tr id="line_@pBuffer.idx" class="sublist"></tr>
                }
                @if (ViewBag.listcount == 0)
                {
                    <tr>
                        <td colspan="8" height="100px" align="center" style="font-size:0.9em;height:200px;">@RazorApi.Instance().DisplayView(ViewBag, "NotSearch", "검색없음")</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div align="center" style="margin-top:2px;">
            <span id="paging">
                @if (ViewBag.listcount > 0)
                {
                    @:<a href='#' style='text-decoration: none; color: blue;' onclick="DeliveryBillList(1); return false;">◀</a>
                    for (var i = 1; i <= ViewBag.listcount; i++)
                    {
                        var color = "";
                        if (i == 1)
                        {
                            color = "black";
                            @:&nbsp;<font style='text-decoration:none;color:@color'>@i</font>&nbsp;
                        }
                        else
                        {
                            color = "blue";
                            @:&nbsp;<a href='#' style='text-decoration:none;color:@color' onclick='DeliveryBillList(@i);return false;'>@i</a>&nbsp;
                        }
                    }
                    @:<a href='#' style='text-decoration: none; color: blue;' onclick='DeliveryBillList(" + nextpage + "); return false;'>▶</a>
                }
            </span>
        </div>
    </div>
</div>
<div style="display:none">
    <table>
        <tbody id="template">
            <tr class="mList">
                <td>##idx##</td>
                <td>##OrderComp##</td>
                <td>##OrderBillDate##</td>
                <td>##OrderBillMoney##</td>
                <td>##OrderCreater##</td>
                <td>##OrderCreateDate##</td>
                <td><input type="button" class="btn" style="width:95%;height:20px;" value="@RazorApi.Instance().DisplayView(ViewBag, "SearchView")" onclick="BillView('##idx##')" /></td>
            </tr>
        </tbody>
    </table>
</div>
<form method="post" id="submitForm">
    <input type="hidden" id="idxForm" name="idx" />
</form>