<script src="@Url.Content("~/js/Store.js")"></script>
<link href="@Url.Content("~/css/Store.css")" type="text/css" rel="stylesheet" />
<div id="contents">
    <div id="list" class="list">
        <table align="center" style="border-color:#000;">
            <thead>
                <tr style="height:30px;" class="nList">
                    <th style="width: 280px;text-align:center;">USERID</th>
                    <th style="width: 100px; text-align: center;">CONNECTDATE</th>
                    <th style="width: 100px; text-align: center;">IPADDRESS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pBuffer in ViewBag.list)
                {
                    <tr class="mList2">
                        <td>@pBuffer.userid</td>
                        <td>@pBuffer.connectdate</td>
                        <td>@pBuffer.ipaddress</td>
                    </tr>
                }
                @if (ViewBag.listcount == 0)
                {
                    <tr>
                        <td colspan="3" height="100px" align="center" style="font-size:0.9em;height:200px;">@RazorApi.Instance().DisplayView(ViewBag, "NotSearch", "검색없음")</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <!--
        <div align="center" style="margin-top:2px;">
            <span id="paging">
                @if (ViewBag.listcount > 0)
                {
                    @:<a href='#' style='text-decoration: none; color: blue;' onclick="ReleaseList(1); return false;">◀</a>
                        for (var i = 1; i <= ViewBag.listcount; i++)
                        {
                            var color = "";
                            if (i == 1)
                            {
                                color = "black";
                                @:&nbsp;<font style='text-decoration:none;color:@color'>@i</font>&nbsp;
                            }
                            else
                            {
                                color = "blue";
                                @:&nbsp;<a href='#' style='text-decoration:none;color:@color' onclick='ReleaseList(@i);return false;'>@i</a>&nbsp;
                            }
                        }
                        @:<a href='#' style='text-decoration: none; color: blue;' onclick='ReleaseList(" + nextpage + "); return false;'>▶</a>
                }
            </span>
        </div>-->
    </div>
</div>
<div style="display:none">
    <table>
        <tbody id="template">
            <tr class="mList">
                <td>##idx##</td>
                <td>##ProductName##</td>
                <td>##ProductAmount##</td>
                <td>##ProductPrice##</td>
                <td>##ProductMoney##</td>
                <td style="background-color:##statecolor##">##ProductState##</td>
                <td><input type="button" class="btn" style="width:95%;height:20px;" value="@RazorApi.Instance().DisplayView(ViewBag, "btn")" onclick="releaselistview('##idx##')" /></td>
            </tr>
        </tbody>
    </table>
</div>
<form method="post" id="submitForm">
    <input type="hidden" id="idxForm" name="idx" />
</form>
